head, body {
  font-family: 'Raleway', sans-serif;
}

section{
	margin: 4rem 0;
}

body{
	margin:0;

	padding-left: 30%;
}


body.home_page{
	background-color:#cceeff;
}
body.about_page{
	background-color:#e6ffe6;
}
body.project_page{
	background-color:#fff2e6;
}
body.contact_page{
	background-color:#ccffff;
}

section.projectarrow{
	margin:0;
}
figure.projectarrow{
	margin:0;
	width: 60%;
	margin-left: 30%;
	margin-right: 0;

}
img.projectarrow{
	width:100%;
}

section.character{
	position: absolute;
	bottom:0px;
	right:5%;
	margin:0;
	width:15%;

}

figure.character{
	width:100%;
	margin:0;
}

img.character{
	width: 100%;
}

section.smileface{
	position: absolute;
	bottom:5%;
	right:10%;
	margin:0;
	width:15%;

}

figure.smileface{
	width:100%;
	margin:0;
}

img.smileface{
	width: 100%;
}

/*a.intext and a.intext :after code is I learn from a sample of IAT352 tutorial, the original code is :

.nav .nav-elements .navbar a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out
}

.nav .nav-elements .navbar a:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    margin: 0 .5rem;
    -webkit-transition: width .3s ease-out, background-color .3s ease-out;
    transition: width .3s ease-out, background-color .3s ease-out
}

.nav .nav-elements .navbar a:hover {
    color: #f3d350
}

.nav .nav-elements .navbar a:hover:after {
    width: 100%;
    background: #f3d350
}*/

a.intext {
    color: #D5D8DC;
   	display: inline-block;
    text-decoration: none;
    padding: 0;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}

a.intext:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    margin: 0;

    -webkit-transition: width .3s ease-out, background-color .3s ease-out;
    transition: width .3s ease-out, background-color .3s ease-out;
}

a.intext:hover {
    color: #f3d350;
}

a.intext:hover:after {
    width: 100%;
    background: #f3d350;

}



a.bookmark1{
	background-color:#cceeff;
	color:white;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 0.5rem;
	width: 130px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 4;
	position: fixed;
	top:48px;
	right:0;

}

a.bookmark1:hover{
	width: 200px;
	background-color:#3498DB;
	color: black;
}

a.bookmark2{
	background-color: #A3E4D7 ;
	color:white;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 0.5rem;
	width: 120px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 4;
	position: fixed;
	top:88px;
	right:0;

}

a.bookmark2:hover{
	width: 200px;
	background-color:#1ABC9C ;
	color: black;
}
a.bookmark3{
	background-color: #F5B7B1  ;
	color:white;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 0.5rem;
	width: 110px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 4;
	position: fixed;
	top:128px;
	right:0;

}

a.bookmark3:hover{
	width: 200px;
	background-color:#CB4335  ;
	color: black;
}






h1{
	font-size: 3.5rem;
	font-weight: lighter;
	text-transform: lowercase;
}

h2{
	font-size: 2.5rem;
	font-weight: lighter;
	text-transform: lowercase;
}

h3{
	font-size:1.5rem;
	font-weight: lighter;
	text-transform: lowercase;

}


p.bio{
	width: 60%;
	line-height: 1.4;
	color:#566573 ;
	margin-top: 20px;
	display: inline-block;
}

h3.bio{
	width: 60%;
	line-height: 1.4;
	color:#566573 ;
	margin-top: 20px;
	display: inline-block;
}

p.home{
	margin-top: 20px;
	width: 60%;
	line-height: 1.4;
	color:#566573 ;	
	display: inline-block;
}
a.home{

	text-decoration: none;
	color: #D5D8DC;

}

a.home:hover{
	color: #1C2833;
	transform: translateY(2px);
}

li{
	margin: 0.5rem 0;
	padding-left: 10px;
}

nav.nav_bar{

	width: 200px;
	display: inline-block;
	padding: 0;
	position: fixed;
	top:200px;
	left:0;
}
ul.nav_bar{
	width: 100%;
	display: inline-block;
	padding-left: 0;
}
li.nav_bar{
	width: 100%;
	display: inline-block;
	margin:0;
	padding-left: 0;

}

a.navbutton1{
	background-color: #99ddff;
	color:black;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 1rem;
	width: 100px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 1;

}
a.navbutton1:hover{
	width: 200px;
	background-color: #0099e6;
	color: white;
}

a.navbutton2{
	background-color: #99ffcc;
	color:black;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 1rem;
	width: 110px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 2;
	position: absolute;
	top:56px;

}
a.navbutton2:hover{
	width: 200px;
	background-color: #4ce600;
	color: white;
}

a.navbutton3{
	background-color:#ffcc99;
	color:black;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 1rem;
	width: 120px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 3;
	position: absolute;
	top:102px;

}
a.navbutton3:hover{
	width: 200px;
	background-color: #ff9933	;
	color: white;
}

a.navbutton4{
	background-color:#4dffff;
	color:black;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 1rem;
	width: 130px;
	transition-property: width;
	transition-duration: 1s;
	z-index: 4;
	position: absolute;
	top:148px;

}
a.navbutton4:hover{
	width: 200px;
	background-color: #00e6e6 ;
	color: white;
}


h1.name{
	margin-top: 150px;

}

h2.projectTitle{
	margin-top: 150px;
}
section.project1{
	background-color: #D5D8DC ;
	margin:0;
	width: 180px;
	height:200px;
	position: fixed;
	right:0;
	top:50px;
	z-index: 1;
	transition-property: width;
	transition-duration: 1s;
}

section.project2{
	background-color: #ABB2B9;
	margin:0;
	width: 180px;
	height:200px;
	position: fixed;
	right:0;
	top:220px;
	z-index: 2;
	transition-property: width;
	transition-duration: 1s;
}

section.project1:hover{
	width: 600px;
	background-color:#ABB2B9 ;
}
section.project2:hover{
	width: 600px;
		background-color:#808B96  ;
}

figure.project1{
	margin:0;
	display: inline-block;
	width: 100%;
}

h3.project1{
	display: inline-block;
	position: absolute;
	left: 250px;
	top:0;
	color: white;
}

p.project1{
	width: 50%;
	display: inline-block;
	position: absolute;
	left: 250px;
	top:50px;	
	color: white;
}
figure.project1{
	margin:0;
	display: inline-block;
	width: 100%;
}

img.project1{
	display: inline-block;
	margin:10px;
	width: 190px;
	height: 180px;
	margin-right: 0;
}

figure.project{
	width: 60%;
	display: inline-block;;
	margin:10px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 0;
}



img.project{
	display: inline-block;
	margin:0;
	width: 100%;
}


section.photo{
	margin:0;
	width: 250px;
	height:50px;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background-color: #ABB2B9;
	position: absolute;
	top:0;
	right:80px;
	transition-property: height;
	transition-duration: 1s;

}

h3.photo{
	color:white;
	position: absolute;
	left:25px;
	bottom: 0px;
}
section.photo:hover{
	height: 300px;
}


@media screen and (max-width:900px){
	body{
		padding-left: 40%;
	}
	section.character{
		display: none;
	}
	p.home{
		width: 80%;
	}
	p.bio{
		width: 80%;
	}
	figure.project{
		width: 80%;
	}
	div.projectImage{
		display: none;
	}
	div.projectSD{
		display: none;
	}
	section.projectarrow{
		position: absolute;
		top:150px;
		right:-60px;
		width: 80%;

	}
	section.project1{
		background-color: #D5D8DC ;
		margin:0;
		width: 200px;
		height:50px;
		position: fixed;
		right:0;
		top:50px;
		z-index: 1;
		transition-property: width;
		transition-duration: 1s;
	}

	section.project2{
		background-color: #ABB2B9;
		margin:0;
		width: 180px;
		height:50px;
		position: fixed;
		right:0;
		top:90px;
		z-index: 2;
		transition-property: width;
		transition-duration: 1s;
	}

	section.project1:hover{
		width: 300px;
		background-color:#ABB2B9 ;
	}
	section.project2:hover{
		width: 300px;
		background-color:#808B96  ;

	}
	h3.project1{
		margin-top: 0;
		display: inline-block;
		position: absolute;
		left: 10px;
		top:5px;
		color: white;

	}


}

@media screen and (max-width:750px){
	section.projectarrow{
		display: none;
	}
	section.smileface{
		display: none;
	}

}

@media screen and (max-width: 600px){
	body{
		padding-left: 5%;
	}


	nav.nav_bar{

		width: 100%;
		display: inline-block;
		padding: 0;
		position: fixed;
		top:0;
		left:0;
	}
	ul.nav_bar{
		margin:0;
	}

	a.navbutton1{
		background-color:  #D5D8DC ;
		color:white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding-right: 0;
		padding-left: 0;
		width: 50%;
		transition-property: width;
		transition-duration: 1s;
		z-index: 1;

	}
	a.navbutton1:hover{
		width: 50%;
		background-color:  #EAECEE  ;
		color: black;
	}

	a.navbutton2{
		background-color: #ABB2B9 ;
		color:white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding-left: 0;
		padding-right: 0;
		width: 50%;
		transition-property: width;
		transition-duration: 1s;
		z-index: 1;
		position: absolute;
		top:0;
		right:0;

	}
	a.navbutton2:hover{
		width: 50%;
		background-color: #EAECEE ;
		color: black;
	}

	a.navbutton3{
		background-color: #808B96   ;
		color:white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding-right: 0;
		padding-left: 0;
		width: 50%;
		transition-property: width;
		transition-duration: 1s;
		z-index: 1;
		position: absolute;
		top:51px;

	}
	a.navbutton3:hover{
		width: 50%;
		background-color: #EAECEE  ;
		color: black;
	}

	a.navbutton4{
		background-color: #566573 ;
		color:white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding-right: 0;
		padding-left: 0;
		width: 50%;
		transition-property: width;
		transition-duration: 1s;
		z-index: 1;
		position: absolute;
		top:51px;
		right: 0;

	}
	a.navbutton4:hover{
		width: 50%;
		background-color: #EAECEE  ;
		color: black;
	}
	p.home{
		width: 95%;
		margin-top: 20px;
	}
	h3.bio{
		margin-top: 20px;
		text-align: center;
		width: 95%;
	}
	p.bio{
		width: 95%;
		margin-top: 20px;
	}

	figure.project{
		width: 95%;
	}
	div.projectImage{
		display: inline-block;
	}
	div.projectSD{
		display: inline-block;
	}
	h1.name{
		text-align: center;	
		width: 95%;
	}

	section.project1{
		background-color: #D5D8DC ;
		margin:0;
		width: 100%;
		height: 200px;
		display: inline-block;
		position: absolute;
		right:0;
		top:430px;
		z-index: 0;
		transition-property: width;
		transition-duration: 1s;
	}

	section.project2{
		background-color: #ABB2B9;
		margin:0;
		width: 100%;
		height:200px;
		display:block;
		position: absolute;		
		right:0;
		top:630px;
		z-index: 0;
		transition-property: width;
		transition-duration: 1s;
	}

	section.project1:hover{
		width: 100%;
		background-color:#808B96 ;
	}
	section.project2:hover{
		width: 100%;
		background-color:#808B96  ;

	}
	h3.project1{
		margin-top: 0;
		display: inline-block;
		position: absolute;
		left: 220px;
		top:10px;
		color: white;

	}
	p.project1{
		left:220px;
		width: 45%;
	}
	ol.numList_sample{
		width: 95%;
		text-align: center;
	 	list-style-position: inside;
		padding: 0;
	}
}

